.fallbackHeader {
    background-image: linear-gradient(45deg, theme("colors.bluegreen.500"), theme("colors.blueyonder.500"));
}

.indexHeader {
    background-image: linear-gradient(to bottom, rgba(1, 16, 25, 0.4), rgba(1, 16, 25, 0.4)),
        url("https://res.cloudinary.com/marsh/image/upload/f_auto,q_auto/v1651926154/snazzystones-website/tableDisplay.jpg");
}

.ankletsHeader {
    background-image: linear-gradient(to bottom, rgba(1, 16, 25, 0.4), rgba(1, 16, 25, 0.4)),
        url("https://res.cloudinary.com/marsh/image/upload/f_auto,q_auto/v1651953321/snazzystones-website/anklets_2020-12-09.jpg");
}

.necklacesHeader {
    background-image: linear-gradient(to bottom, rgba(1, 16, 25, 0.4), rgba(1, 16, 25, 0.4)),
        url("https://res.cloudinary.com/marsh/image/upload/f_auto,q_auto/v1651953812/snazzystones-website/chainNecklaces_2020-12-10.jpg");
}

.braceletsHeader {
    background-image: linear-gradient(to bottom, rgba(1, 16, 25, 0.4), rgba(1, 16, 25, 0.4)),
        url("https://res.cloudinary.com/marsh/image/upload/f_auto,q_auto/v1651953973/snazzystones-website/chainBracelets_2020-10-12.jpg");
}

.hoopsHeader {
    background-image: linear-gradient(to bottom, rgba(1, 16, 25, 0.4), rgba(1, 16, 25, 0.4)),
        url("https://res.cloudinary.com/marsh/image/upload/f_auto,q_auto/v1651953973/snazzystones-website/hoops_2020-10-22.jpg");
}

.pendantsHeader {
    background-image: linear-gradient(to bottom, rgba(1, 16, 25, 0.4), rgba(1, 16, 25, 0.4)),
        url("https://res.cloudinary.com/marsh/image/upload/f_auto,q_auto/v1651954906/snazzystones-website/pendants_2020-10-28.jpg");
}
